/* MyHabboPlus Habbo Alternative Theme */
body.newhabbo#viewmode, body.newhabbo#home, body.newhabbo#news, body.newhabbo#cbs2credits, body.newhabbo#loyalty_points, body.newhabbo#credit_offers, body.newhabbo#profile, body.newhabbo#embedpage  {
        background-attachment:fixed;
        background-color:#007498;
        background-image:url('../../images/v3/bg_texture.out.png');
        background-image:url('../../images/v3/bg_texture.out.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#0297c8 0,#007498 480px);background-image:url('../../images/v3/bg_texture.out.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#0297c8 0,#007498 480px);background-image:url('../../images/v3/bg_texture.out.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#0297c8 0,#007498 480px);background-image:url('../../images/v3/bg_texture.out.png'),radial-gradient(circle farthest-side at 190px 190px,#0297c8 0,#007498 480px);
}

body.newhabbo #header-container {
        background:rgba(16, 16, 22, 0.85);
        background-image:none;
        width:100%;
        padding:0px;
        border-bottom:1px solid rgb(122, 163, 185);
        position:fixed;
        top:0;
        z-index:999;
}

body.newhabbo #header h1 a, body.newhabbo #header h1 span {
        background-image:url("../../v2/images/habbologo_whiteR.gif")
}

body.newhabbo #navi li strong, body.newhabbo #navi li a {
        background:none;
        background-color:white;
        color:black;
        border-radius:4px 4px 0px 0px;
}

body.newhabbo #navi li:hover strong, body.newhabbo #navi li:hover a {
        opacity:0.9;
}

body.newhabbo #navi li.selected span {
        background:none;
}

body.newhabbo #navi li.selected strong, body.newhabbo #navi li.selected a {
        background:none;
        background-color:#7aa2b9;
        color:#e0eff5;
        text-shadow:0px 1px 0px #587585;
        border-radius:4px 4px 0px 0px;
}

body.newhabbo #navi li.selected:hover strong, body.newhabbo #navi li.selected:hover a {
        opacity:1;
}

body.newhabbo #navi li span {
        background:none;
}

body.newhabbo #navi #tab-register-now a {
        background-color:#2eb935;
        color:white;
        font-weight:bold;
        text-shadow:0px 1px 0px #22851b;
}

body.newhabbo p #enter-hotel-open-medium-link {
        margin-top:-17px;
}

body.newhabbo #subnavi-search {
        text-align:left;
        left:10px;
        right:0px;
}

body.newhabbo #subnavi-search {
        top:4px;
}

body.newhabbo #subnavi-login {
        top:-4px;
}

body.newhabbo #subnavi-login form ul {
        padding:6px 11px;
}
body.newhabbo #subnavi-login input.login-field {
        border:2px transparent;
        border-radius:3px;
}

body.newhabbo #subnavi-login-help ul {
        padding:2px 11px 0px;
}

body.newhabbo #login-submit-new-button {
        height:21px;
}

body.newhabbo #login-submit-new-button b {
        background:none;
        background-color:#1377aa;
        color:white;
        text-shadow:0px 1px 0px #0c5475;
        border-radius:3px;
        padding:2px 17px 2px 20px;
}

body.newhabbo #login-submit-new-button b:hover {
        background-color:#138bc2;
}

body.newhabbo #login-submit-new-button i {
        background:none;
}

body.newhabbo a.new-button.green-button b {
        background:#2eb935;
        color:white;
        font-weight:bold;
        text-shadow:0px 1px 0px #22851b;
        border-radius:4px;
}

body.newhabbo a.new-button.green-button:hover b {
        background:#34d13c;
        text-shadow:0px 1px 0px #2a9e21;
}

body.newhabbo a.new-button.green-button i {
        display:none;
}


body.newhabbo a.new-button.red-button b {
        background:#b82e2e;
        color:white;
        font-weight:bold;
        text-shadow:0px 1px 0px #851c1c;
        border-radius:4px;
}

body.newhabbo a.new-button.red-button:hover b {
        background:#cf3434;
        text-shadow:0px 1px 0px #9c2121;
}

body.newhabbo a.new-button.red-button i {
        display:none;
}


body.newhabbo a.new-button b {
        padding:5px 20px 5px 20px;
        height:15px;
}

body.newhabbo #habbos-online {
        top:-5px;
}

body.newhabbo div.rounded-container div {
        background:none !important;
}

body.newhabbo #habbos-online span {
        background-color:rgb(255, 255, 255);
        width:121px;
        border-radius:4px;
}

body.newhabbo #navi2 {
        background:none;
        background-color:rgb(122, 163, 185);
        padding:0px 0px 8px 0px;
        line-height:normal;
        border-radius:0px 0px 4px 4px;
        box-shadow:0px 3px 0px rgba(0, 0, 0, 0.3);
}
body.newhabbo #navi2-container {
        background:none;
        padding:0px;
        position:fixed;
        top:105px;
        z-index:999;
        left:0;
        right:0;
}

body.newhabbo #navi2 ul li {
        border-right:none;
        margin-right:15px;
}

body.newhabbo #navi2 ul li.selected {
        color:#e0eff5;
}

body.newhabbo #navi2 ul li a {
        color:#e0eff5;
}

body.newhabbo #container {
        margin-top:140px;
}

body.newhabbo #promo-box .promo-container {
        border-radius:7px;
}

body.newhabbo #promo-box .promo-content .body {
        text-shadow:0px 0px 1px rgba(0,0,0,0.15);
}

body.newhabbo h2.title {
        padding:4px 0px !important;
        margin-top:-4px;
        border-radius:5px;
}

body.newhabbo#news #column1 {
        width:240px;
}

body.newhabbo #article-archive {
        padding:0px;
}

body.newhabbo #article-archive h2 {
        background-color:#d8e0e5;
        padding:7px 10px;
        color:#3a5767;
        border-bottom:1px solid #768791;
        font-size:12px;
}

body.newhabbo #article-archive ul {
        margin:0px;
}

body.newhabbo #article-archive ul li {
        background-color:#f6f6f6;
        margin:0px;
        padding:7px 10px;
        color:#666666;
        border-bottom:1px solid #cdcdcd;
        font-style:italic;
}

body.newhabbo #article-archive ul li:nth-child(even) {
        background-color:#fafafa;
}

body.newhabbo #article-archive a {
        margin:5px 10px;
        float:right;
        color:#424242;
        text-decoration:none;
        font-weight:bold;
}

body.newhabbo #article-archive ul li a {
        margin:0px;
        float:none;
        color:#424242;
        text-decoration:none;
        font-weight:normal;
        font-style:normal;
}

body.newhabbo #article-archive a:hover {
        text-decoration:underline;
}

body.newhabbo #footer p {
        color:#292929;
        font-size:10px;
}

body.newhabbo #footer p.copyright {
        color:#ececec;
}
body.newhabbo .ad-container {
        display:none;
}
body.newhabbo #column1.column {
        width:760px;
}

body.newhabbo #habblet-container {
        width:760px;
        overflow:hidden;
}

body.newhabbo #twitterfeed-habblet-container {
        float:left;
}
